<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Họ Tên</Data></Cell>
        <Cell><Data ss:Type="String">Số điện thoại</Data></Cell>
        <Cell><Data ss:Type="String">Địa chỉ</Data></Cell>
        <Cell><Data ss:Type="String">Ghi chú</Data></Cell>

      </Row>
    <% @contacts.each do |contact| %>
      <Row>
        <Cell><Data ss:Type="String"><%= contact.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= contact.number %></Data></Cell>
        <Cell><Data ss:Type="Text"><%= contact.address %></Data></Cell>
        <Cell><Data ss:Type="Text"><%= contact.note %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>